<div class="frame">

  <form class="form-signin" action="" method="post">

    <label>Name:</label>
    <input class="form-styling" type="text" name="" value="">

    <label>Average Height:</label>
    <input class="form-styling" type="text" name="" value="">

    <label>Average Weight:</label>
    <input class="form-styling" type="text" name="" value="">

    <label>Scientific Name:</label>
    <input class="form-styling" type="text" name="" value="">

    <label>Genus:</label>
    <input class="form-styling" type="text" name="" value="">

    <label>Lifespan:</label>
    <input class="form-styling" type="text" name="" value="">

    <label>Locations of Origin:</label>
    <input class="form-styling" type="text" name="" value="">

    <label>Diet:</label>
    <input class="form-styling" type="text" name="" value="">

    <label>Social Order:</label>
    <input class="form-styling" type="text" name="" value="">

    <label>Description:</label>
    <input class="form-styling" type="text" name="" value="">

  </form>

</div>


<!-- gonna put this component inside a modal in the monkey details component and use
a behavriosubject in the truth service to keep track of whether im editing or not
and based on that, show the modal or dont show the modal
also, gonna use 2 way binding so as people fill shit in in the form in the modal,
they see that shit in the monkdey details page behind  -->
