#container {
  z-index: -2;
  background: linear-gradient(hsl(180, 59%, 80%), hsl(60, 80%, 20%));
  min-height: 100vh;
  font-family: Oxygen, sans-serif;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 50px;
  line-height: 40px;

}


.monkey-pic1{
width: 100px;

}
.monkey-pic2{
  min-height: 45%;
  max-height: 60%;
  max-width: 48%;
  float: right;
}


.monkey-info{
  font-size: 1.1em;
  font-weight: bold;
  z-index: 10;
}

#container p {
  padding: 5px;
  border-radius: 20%;
      animation:monkey-details-anim 40s;
      -moz-animation:monkey-details-anim 40s infinite; /* Firefox */
    -webkit-animation:monkey-details-anim 40s infinite; /* Safari and Chrome */

      }


      @-moz-keyframes monkey-details-anim /* Firefox */
    {
      0%  {background:hsl(60, 80%, 20%);
          color: white;}
      50%   {background:hsl(180, 59%, 80%);
            color: black;}
      100%   {background:hsl(60, 80%, 20%);
            color: white;}
    }

        @-webkit-keyframes monkey-details-anim /* Safari and Chrome */
    {
      0%  {background:hsl(60, 80%, 20%);
          color: white;}
      50%   {background:hsl(180, 59%, 80%);
            color: black;}
      100%   {background:hsl(60, 80%, 20%);
            color: white;}
    }
