body{
  width: 90%;
}

#container {
  z-index: -2;
  background: linear-gradient(hsl(180, 59%, 80%), hsl(60, 80%, 20%));
  min-height: 100vh;
  font-family: Oxygen, sans-serif;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 50px;
  line-height: 40px;

}

.top-row{
  text-align: center;
}

.top-row a{
    /*background-color: #000065;*/
    background-color: #222250;
    border: none;
    margin: 2px;
    height: 35px;
    font-size: 14px;
}

.top-row a:hover{
    font-size: 17px;
}

.top-row a:nth-child(odd) {
      animation:myfirst 4s;
      -moz-animation:myfirst 4s infinite; /* Firefox */
    -webkit-animation:myfirst 4s infinite; /* Safari and Chrome */
      }

.top-row a:nth-child(even) {
      animation:mysecond 4s;
      -moz-animation:mysecond 4s infinite; /* Firefox */
    -webkit-animation:mysecond 4s infinite; /* Safari and Chrome */
      }


.monkey-pic1{
width: 200px;
border-radius: 10px;
margin: 20px;
}
.monkey-pic2{
  border-radius: 10px;
  margin: 10px 10px 0 0;
  min-height: 500px;
  max-height: 700px;
  max-width: 48%;
  float: right;
}


.monkey-info{
  font-size: 1.1em;
  font-weight: bold;
  z-index: 10;
}



#container p:nth-child(odd){
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
      animation:monkey-details-anim 50s;
      -moz-animation:monkey-details-anim 50s infinite; /* Firefox */
    -webkit-animation:monkey-details-anim 50s infinite; /* Safari and Chrome */

      }



#container p:nth-child(even){
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
      animation:monkey-details-anim2 50s;
      -moz-animation:monkey-details-anim2 50s infinite; /* Firefox */
    -webkit-animation:monkey-details-anim2 50s infinite; /* Safari and Chrome */

      }


      @-moz-keyframes monkey-details-anim /* Firefox */
    {
      0%  {background:hsl(60, 80%, 20%);
          color: hsl(180, 59%, 80%);}
      25%   {background:hsl(180, 59%, 80%);
            color: hsl(60, 80%, 20%);}
      50%   {background:hsl(60, 80%, 20%);
            color: hsl(180, 59%, 80%);}

      75%   {background:hsl(180, 59%, 80%);
            color: hsl(60, 80%, 20%);}

      100%   {background:hsl(60, 80%, 20%);
                  color: hsl(180, 59%, 80%);}
    }

        @-webkit-keyframes monkey-details-anim /* Safari and Chrome */
    {
      0%  {background:hsl(60, 80%, 20%);
          color: hsl(180, 59%, 80%);}
      25%   {background:hsl(180, 59%, 80%);
            color: hsl(60, 80%, 20%);}
      50%   {background:hsl(60, 80%, 20%);
            color: hsl(180, 59%, 80%);}

      75%   {background:hsl(180, 59%, 80%);
            color: hsl(60, 80%, 20%);}

      100%   {background:hsl(60, 80%, 20%);
                  color: hsl(180, 59%, 80%);}
    }


    @-moz-keyframes monkey-details-anim2 /* Firefox */
  {
    0%   {background:hsl(180, 59%, 80%);
      color: hsl(60, 80%, 20%);}
    25%  {background:hsl(60, 80%, 20%);
        color: hsl(180, 59%, 80%);}

    50%   {background:hsl(180, 59%, 80%);
          color: hsl(60, 80%, 20%);}

    75%   {background:hsl(60, 80%, 20%);
            color: hsl(180, 59%, 80%);}

    100%   {background:hsl(180, 59%, 80%);
          color: hsl(60, 80%, 20%);}
  }

      @-webkit-keyframes monkey-details-anim2 /* Safari and Chrome */
  {
    0%   {background:hsl(180, 59%, 80%);
      color: hsl(60, 80%, 20%);}
    25%  {background:hsl(60, 80%, 20%);
        color: hsl(180, 59%, 80%);}

    50%   {background:hsl(180, 59%, 80%);
          color: hsl(60, 80%, 20%);}

    75%   {background:hsl(60, 80%, 20%);
            color: hsl(180, 59%, 80%);}

    100%   {background:hsl(180, 59%, 80%);
          color: hsl(60, 80%, 20%);}
  }



  @-moz-keyframes myfirst /* Firefox */
{
  0%  {background:#222250;}
  50%   {background:hsl(140, 80%, 10%);}
  100%   {background:#222250;}
}

    @-webkit-keyframes myfirst /* Safari and Chrome */
{
  0%  {background:#222250;}
  50%   {background:hsl(140, 80%, 10%);}
  100%   {background:#222250;}
}



@-moz-keyframes mysecond /* Firefox */
{
0%  {background:hsl(140, 80%, 10%);}
50%   {background:#222250;}
100%   {background:hsl(140, 80%, 10%);}
}

  @-webkit-keyframes mysecond /* Safari and Chrome */
{
0%  {background:hsl(140, 80%, 10%);}
50%   {background:#222250;}
100%   {background:hsl(140, 80%, 10%);}
}
