<div id="container">
  <div class="top-row">
    <a *ngFor="let oneMonkey of monkeys" [routerLink]="['/monkey', oneMonkey.id]" class="btn btn-primary">{{oneMonkey.shortName}}</a>
    <!-- (mouseover)="previewOtherMonkey(oneMonkey.name)" (mouseleave)="previewNoMonkey()" -->

    <!-- <button class="btn btn-primary">tamarin</button><button class="btn btn-primary">squirrel</button><button class="btn btn-primary">capuchin</button>
    <button class="btn btn-primary">night</button><button class="btn btn-primary">saki</button><button class="btn btn-primary">spider</button><button class="btn btn-primary">howler</button>
    <button class="btn btn-primary">colobus</button><button class="btn btn-primary">langur</button><button class="btn btn-primary">proboscis</button><button class="btn btn-primary">baboon</button>
    <button class="btn btn-primary">mandrill</button><button class="btn btn-primary">guenon</button><button class="btn btn-primary">macaque</button> -->
  </div>

  <img src="http://localhost:3000/assets/{{monkey.image1}}" class="monkey-pic1" >
  <img src="http://localhost:3000/assets/{{monkey.image2}}" class="monkey-pic2" >


<p><span class = "monkey-info">Name:</span> {{monkey.name}}</p>
<p><span class = "monkey-info">Average Height:</span> {{monkey.height}}</p>
<p><span class = "monkey-info">Average Weight:</span> {{monkey.weight}}</p>
<p><span class = "monkey-info">Scientific Name:</span> {{monkey.sub_family}}</p>
<p><span class = "monkey-info">Genus:</span> {{monkey.genus}}</p>
<p><span class = "monkey-info">Lifespan:</span> {{monkey.lifespan}}</p>
<p><span class = "monkey-info">Locations </span>of Origin: {{monkey.locations_of_origin}}</p>
<p><span class = "monkey-info">Diet:</span> {{monkey.diet}}</p>
<p><span class = "monkey-info">Social Order:</span> {{monkey.social_order}}</p>
<p><span class = "monkey-info">Description:</span> {{monkey.description}}</p>

</div>
