#container {
  z-index: -2;
  background: linear-gradient(hsl(180, 59%, 80%), hsl(60, 80%, 20%));
  min-height: 100vh;
  font-family: Oxygen, sans-serif;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 50px;
  line-height: 40px;

}


.monkey-pic1{
width: 200px;
}
.monkey-pic2{

  min-height: 400px;
  max-height: 600px;
  max-width: 52%;
  float: right;
}


.monkey-info{
  font-size: 1.1em;
  font-weight: bold;
  z-index: 10;
}



#container p:nth-child(odd){
  padding: 10px;
  border-radius: 20px;
  margin: 15px;
      animation:monkey-details-anim 50s;
      -moz-animation:monkey-details-anim 50s infinite; /* Firefox */
    -webkit-animation:monkey-details-anim 50s infinite; /* Safari and Chrome */

      }


      #container p:nth-child(even){
        padding: 10px;
        border-radius: 20px;
        margin: 15px;
            animation:monkey-details-anim2 50s;
            -moz-animation:monkey-details-anim2 50s infinite; /* Firefox */
          -webkit-animation:monkey-details-anim2 50s infinite; /* Safari and Chrome */

            }
      @-moz-keyframes monkey-details-anim /* Firefox */
    {
      0%  {background:hsl(60, 80%, 20%);
          color: white;}
      25%   {background:hsl(180, 59%, 80%);
            color: black;}
      50%   {background:hsl(60, 80%, 20%);
            color: white;}

      75%   {background:hsl(180, 59%, 80%);
            color: black;}

      100%   {background:hsl(60, 80%, 20%);
                  color: white;}
    }

        @-webkit-keyframes monkey-details-anim /* Safari and Chrome */
    {
      0%  {background:hsl(60, 80%, 20%);
          color: white;}
      25%   {background:hsl(180, 59%, 80%);
            color: black;}
      50%   {background:hsl(60, 80%, 20%);
            color: white;}

      75%   {background:hsl(180, 59%, 80%);
            color: black;}

      100%   {background:hsl(60, 80%, 20%);
                  color: white;}
    }


    @-moz-keyframes monkey-details-anim2 /* Firefox */
  {
    0%   {background:hsl(180, 59%, 80%);
      color: black;}
    25%  {background:hsl(60, 80%, 20%);
        color: white;}

    50%   {background:hsl(180, 59%, 80%);
          color: black;}

    75%   {background:hsl(60, 80%, 20%);
            color: white;}

    100%   {background:hsl(180, 59%, 80%);
          color: black;}
  }

      @-webkit-keyframes monkey-details-anim2 /* Safari and Chrome */
  {
    0%   {background:hsl(180, 59%, 80%);
      color: black;}
    25%  {background:hsl(60, 80%, 20%);
        color: white;}

    50%   {background:hsl(180, 59%, 80%);
          color: black;}

    75%   {background:hsl(60, 80%, 20%);
            color: white;}

    100%   {background:hsl(180, 59%, 80%);
          color: black;}
  }





.monkey-pic-background{
  border-radius: 20px;
  display: inline-block;
  padding: 20px;
  animation:monkey-details-anim2 50s;
  -moz-animation:monkey-details-anim2 50s infinite; /* Firefox */
-webkit-animation:monkey-details-anim2 50s infinite; /* Safari and Chrome */
  }
