<div id="container">


<p><span class = "monkey-info">Name:</span> {{monkey.name}}</p>
<p><span class = "monkey-info">Average Height:</span> {{monkey.height}}</p>
<p><span class = "monkey-info">Average Weight:</span> {{monkey.weight}}</p>
<p><span class = "monkey-info">Genus:</span> {{monkey.genus}}</p>
<p><span class = "monkey-info">Sub-Family:</span> {{monkey.sub_family}}</p>
<p><span class = "monkey-info">Lifespan:</span> {{monkey.lifespan}}</p>
<p><span class = "monkey-info">Locations </span>of Origin: {{monkey.locations_of_origin}}</p>
<p><span class = "monkey-info">Diet:</span> {{monkey.diet}}</p>
<p><span class = "monkey-info">Social </span>Order: {{monkey.social_order}}</p>
<p><span class = "monkey-info">Description:</span> {{monkey.description}}</p>
<img src="http://localhost:3000/assets/{{monkey.image1}}" class="monkey-pic1" >
<img src="http://localhost:3000/assets/{{monkey.image2}}" class="monkey-pic2" >

</div>
