<div id="container">


<p><b>Name:</b> {{monkey.name}}</p>
<p><b>Average </b>Height: {{monkey.height}}</p>
<p><b>Average </b>Weight: {{monkey.weight}}</p>
<p><b>Genus:</b> {{monkey.genus}}</p>
<p><b>Sub_Family:</b> {{monkey.sub_family}}</p>
<p><b>Lifespan:</b> {{monkey.lifespan}}</p>
<p><b>Locations </b>of Origin: {{monkey.locations_of_origin}}</p>
<p><b>Diet:</b> {{monkey.diet}}</p>
<p><b>Social </b>Order: {{monkey.social_order}}</p>
<p><b>Description:</b> {{monkey.description}}</p>
<img src="http://localhost:3000/assets/{{monkey.image1}}" class="monkey-pic" >
<img src="http://localhost:3000/assets/{{monkey.image2}}" class="monkey-pic" >

</div>
