<div class="frame">

  <form class="form-signin" action="" method="post">

    <label>Name:</label>
    <input class="form-styling" type="text" name="name" value="" [(ngModel)]="name">

    <label>Average Height:</label>
    <input class="form-styling" type="text" name="averageHeight" value="" [(ngModel)]="averageHeight">

    <label>Average Weight:</label>
    <input class="form-styling" type="text" name="averageWeight" value="" [(ngModel)]="averageWeight">

    <label>Scientific Name:</label>
    <input class="form-styling" type="text" name="scientificName" value="" [(ngModel)]="scientificName">

    <label>Genus:</label>
    <input class="form-styling" type="text" name="genus" value="" [(ngModel)]="genus">

    <label>Lifespan:</label>
    <input class="form-styling" type="text" name="lifespan" value="" [(ngModel)]="lifespan">

    <label>Locations of Origin:</label>
    <input class="form-styling" type="text" name="locationsofOrigin" value="" [(ngModel)]="locationsofOrigin">

    <label>Diet:</label>
    <input class="form-styling" type="text" name="diet" value="" [(ngModel)]="diet">

    <label>Social Order:</label>
    <input class="form-styling" type="text" name="socialOrder" value="" [(ngModel)]="socialOrder">

    <label>Description:</label>
    <input class="form-styling" type="text" name="description" value="" [(ngModel)]="description">

  </form>

</div>
