<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="frame">

      <form (ngSubmit)="createNewMonkey()"class="form-signin" action="" method="post">

        <label>Name:</label>
        <input class="form-styling" type="text" name="name" [(ngModel)]="name">

        <label>Average Height:</label>
        <input class="form-styling" type="text" name="averageHeight" [(ngModel)]="averageHeight">

        <label>Average Weight:</label>
        <input class="form-styling" type="text" name="averageWeight" [(ngModel)]="averageWeight">

        <label>Scientific Name:</label>
        <input class="form-styling" type="text" name="scientificName" [(ngModel)]="scientificName">

        <label>Genus:</label>
        <input class="form-styling" type="text" name="genus" [(ngModel)]="genus">

        <label>Lifespan:</label>
        <input class="form-styling" type="text" name="lifespan" [(ngModel)]="lifespan">

        <label>Locations of Origin:</label>
        <input class="form-styling" type="text" name="locationsofOrigin" [(ngModel)]="locationsofOrigin">

        <label>Diet:</label>
        <input class="form-styling" type="text" name="diet" [(ngModel)]="diet">

        <label>Social Order:</label>
        <input class="form-styling" type="text" name="socialOrder" [(ngModel)]="socialOrder">

        <label>Description:</label>
        <input class="form-styling" type="text" name="description" [(ngModel)]="description">

      </form>

    </div>

</div>
<div class="modal-footer">
  <button click="createNewMonkey()" type="button" class="btn btn-primary monkey-world-btns" data-dismiss="modal">Save changes</button>
</div>
</div>
