<div class="frame">

  <form class="form-signin" action="" method="post">

    <label>Name:</label>
    <input class="form-styling" type="text" name="" value="" [(ngModel)]="name"

    <label>Average Height:</label>
    <input class="form-styling" type="text" name="" value="" [(ngModel)]="name"

    <label>Average Weight:</label>
    <input class="form-styling" type="text" name="" value="" [(ngModel)]="name"

    <label>Scientific Name:</label>
    <input class="form-styling" type="text" name="" value="" [(ngModel)]="name">

    <label>Genus:</label>
    <input class="form-styling" type="text" name="" value="" [(ngModel)]="name">

    <label>Lifespan:</label>
    <input class="form-styling" type="text" name="" value="" [(ngModel)]="name">

    <label>Locations of Origin:</label>
    <input class="form-styling" type="text" name="" value="" [(ngModel)]="name">

    <label>Diet:</label>
    <input class="form-styling" type="text" name="" value="" [(ngModel)]="name">

    <label>Social Order:</label>
    <input class="form-styling" type="text" name="" value="" [(ngModel)]="name">

    <label>Description:</label>
    <input class="form-styling" type="text" name="" value="" [(ngModel)]="name">

  </form>

</div>
