

<div class="error" *ngIf="errorMessage"> {{ errorMessage }} </div>

<!-- <div class="phone-list">
  <div *ngFor="let oneMonkey of monkeys">
    <img [src]="onePhone.image">
    <h3> {{ onePhone.name }} </h3>
    <p> {{ onePhone.brand }} </p>
    <a [routerLink]="['phone', onePhone._id]">
      View Details
    </a>
  </div>
</div> -->


<div id="container">
  <h1>
    Know Your Monkeys
  </h1>
	<ul class="tree">
		<li>
			<a href="#">
        <img src="#" alt>
        New World Monkeys
        <time datetime="1954">1954</time>
      </a>
			<ul>
				<li>
					<a href="#">
            <img src="#" alt>
             Callitrichidae
            <time datetime="1960">1960</time>
          </a>
					<ul>
						<li *ngFor="let oneMonkey of callitrichidae">
							<a href="#">
                <img src="#" alt>
                {{oneMonkey.name}}
                <time datetime="2016">2016</time>
              </a>
					</ul>
				<li><a href="#">
          <img src="#" alt>
          Cebidae
          <time datetime="1980">1980</time>
          </a>
          <ul>
						<li *ngFor="let oneMonkey of cebidae">
              <a href="#">
              <img src="#" alt>
              {{oneMonkey.name}}
            <time datetime="1967">1967</time>
              </a>
					</ul>
        <li><a href="#">
          <img src="#" alt>
           Aotidae
          <time datetime="1961">1961</time>
          </a>
					<ul>
						<li *ngFor="let oneMonkey of aotidae" >
              <a href="#">
              <img src="#" alt>
              {{oneMonkey.name}}
            <time datetime="1967">1967</time>
              </a>
					</ul>
         <li><a href="#">
           <img src="#" alt>
            Pitheciidae
           <time datetime="1998">1998</time>
           </a>
           <ul>
 						<li *ngFor="let oneMonkey of pitheciidae" >
               <a href="#">
               <img src="#" alt>
               {{oneMonkey.name}}
             <time datetime="1967">1967</time>
               </a>
 					</ul>

          <li><a href="#">
           <img src="#" alt>
            Atelidae
           <time datetime="1998">1998</time>
            </a>
            <ul>
  						<li *ngFor="let oneMonkey of atelidae" >
                <a href="#">
                <img src="#" alt>
                {{oneMonkey.name}}
              <time datetime="1967">1967</time>
                </a>
  					</ul>
			</ul>


    </ul>
