@import url('https://fonts.googleapis.com/css?family=Oxygen');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
  font-size: 45px;
  /*-webkit-text-stroke: 0.1px white;
text-stroke: 0.1px white;*/
  /*background-color: hsl(180, 59%, 80%);
  border-top: 0.1px solid grey;
  border-bottom: 0.1px solid grey;*/
}

#container {
  background: linear-gradient(hsl(180, 59%, 80%), hsl(60, 80%, 20%));
  min-height: 100vh;
  font-family: Oxygen, sans-serif;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.tree {
  text-align: center;
  width: 100%;
  margin: 0 7% 0 7%;
}
.tree time {
  display: block;
  font-size: .9rem;
  margin-top: .5rem;
}
.tree img {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 150px;
}
.tree time:before {
  content: "(";
}
.tree time:after {
  content: ")";
}
.tree, .tree ul {
	padding-top: 20px;
  position: relative;
	transition: all 0.5s;
}
/*adjust padding here for space between boxes*/
.tree li {
	float: left;
  text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.5s;
}
.tree li::before, .tree li::after{
	content: '';
	position: absolute;
  top: 0; right: 50%;
	border-top: 1px solid black;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid black;
}
.tree li:only-child::after,
.tree li:only-child::before {
	display: none;
}
.tree li:only-child {
  padding-top: 0;
}
.tree li:first-child::before,
.tree li:last-child::after{
	border: 0;
}
.tree li:last-child::before{
	border-right: 1px solid black;
	border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
}
.tree ul::before{
	content: '';
	position: absolute;
  top: 0; left: 50%;
	border-left: 1px solid black;
	width: 0; height: 20px;
}
.tree li a {
	border: 1px solid black;
	padding: 10px;
	text-decoration: none;
  width: 140px;
	color: #666;
	font-size: 1rem;
	display: inline-block;
	border-radius: 5px;
	transition: all 0.5s;
}
.tree li a {
  background: hsl(22,22%,2%);
}
.tree li a:hover,
.tree li a:hover+ul li a {
	background: hsl(140, 80%, 10%);
  border: 1px solid #94a0b4;
  color: #fff;
}
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}


@media all and (max-width: 999px) {
  .tree time {
    display: inline-block;
  }
  .tree li {
	  float: none;
    text-align: left;
  }
    .tree li a {
    border: initial;
    width: initial;
  }
  .tree ul::before, .tree li::before, .tree li::after {
	  content: none;
  }
}
