
<h1>
  Know Your Monkeys
</h1>

<div id="container">
	<ul class="tree">
		<li>
			<a href="#">
        <img src="seven-samurai-1960.jpg" alt>
        New World Monkeys
        <time datetime="1954">1954</time>
      </a>
			<ul>
				<li>
					<a href="#">
            <img src="magnificent-seven-1960.jpg" alt>
             Callitrichidae
            <time datetime="1960">1960</time>
          </a>
					<ul>
						<li>
							<a href="#">
                <img src="magnificent-seven-2016.jpg" alt>
                The Magnificent Seven
                <time datetime="2016">2016</time>
              </a>
					</ul>
				<li><a href="#">
          <img src="battle-beyond-the-stars-1990.jpg" alt>
          Cebidae
          <time datetime="1980">1980</time>
          </a>
        <li><a href="#">
          <img src="the-guns-of-navarone-1961.jpg" alt>
           Aotidae
          <time datetime="1961">1961</time>
          </a>
					<ul>
						<li><a href="#">
              <img src="the-dirty-dozen-1967.jpg" alt>
              The Dirty Dozen
            <time datetime="1967">1967</time>
              </a>
					</ul>
         <li><a href="#">
           <img src="a-bugs-life-1998.jpg" alt>
            Pitheciidae
           <time datetime="1998">1998</time>
           </a>

          <li><a href="#">
           <img src="a-bugs-life-1998.jpg" alt>
            Atelidae
           <time datetime="1998">1998</time>
            </a>
			</ul>


      <li>
  			<a href="#">
          <img src="seven-samurai-1960.jpg" alt>
          Old World Monkeys
          <time datetime="1954">1954</time>
        </a>
  			<ul>
  				<li>
  					<a href="#">
              <img src="magnificent-seven-1960.jpg" alt>
              cercopithecines
              <time datetime="1960">1960</time>
            </a>
  					<ul>
  						<li>
  							<a href="#">
                  <img src="magnificent-seven-2016.jpg" alt>
                  The Magnificent Seven
                  <time datetime="2016">2016</time>
                </a>
  					</ul>



  			</ul>
