

<div class="error" *ngIf="errorMessage"> {{ errorMessage }} </div>

<div id="container">
  <div class="row which-world-btns">
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <button (click)="makeNewWorld()" (mouseover)="previewNewWorld()" (mouseleave)="previewNoWorld()" type="button" class="btn btn-primary monkey-world-btns">New World Monkeys</button>
    </div>
    <div class="col-md-2">
      <div class="col-md-4"></div>
    <button (click)="makeOldWorld()" (mouseover)="previewOldWorld()" (mouseleave)="previewNoWorld()" type="button" class="btn btn-primary monkey-world-btns">Old World Monkeys</button>
  </div>
</div>

	<ul class="tree" *ngIf="whichWorldPreview != 'old' && whichWorld == 'new'">
		<li>
			<a href="#">
        <img src="#" alt>
        New World Monkeys
        <time datetime="1954">1954</time>
      </a>
			<ul>
				<li>
					<a href="#">
            <img src="#" alt>
             Callitrichidae
            <time datetime="1960">1960</time>
          </a>
					<ul>
						<li *ngFor="let oneMonkey of callitrichidae">
							<a href="#">
                <img src="#" alt>
                {{oneMonkey.name}}
                <time datetime="2016">2016</time>
              </a>
					</ul>
				<li><a href="#">
          <img src="#" alt>
          Cebidae
          <time datetime="1980">1980</time>
          </a>
          <ul>
						<li *ngFor="let oneMonkey of cebidae">
              <a href="#">
              <img src="#" alt>
              {{oneMonkey.name}}
            <time datetime="1967">1967</time>
              </a>
					</ul>
        <li><a href="#">
          <img src="#" alt>
           Aotidae
          <time datetime="1961">1961</time>
          </a>
					<ul>
						<li *ngFor="let oneMonkey of aotidae" >
              <a href="#">
              <img src="#" alt>
              {{oneMonkey.name}}
            <time datetime="1967">1967</time>
              </a>
					</ul>
         <li><a href="#">
           <img src="#" alt>
            Pitheciidae
           <time datetime="1998">1998</time>
           </a>
           <ul>
 						<li *ngFor="let oneMonkey of pitheciidae" >
               <a href="#">
               <img src="#" alt>
               {{oneMonkey.name}}
             <time datetime="1967">1967</time>
               </a>
 					</ul>

          <li><a href="#">
           <img src="#" alt>
            Atelidae
           <time datetime="1998">1998</time>
            </a>
            <ul>
  						<li *ngFor="let oneMonkey of atelidae" >
                <a href="#">
                <img src="#" alt>
                {{oneMonkey.name}}
              <time datetime="1967">1967</time>
                </a>
  					</ul>
			</ul>


    </ul>

    <ul class="tree" *ngIf="whichWorldPreview != 'new' && whichWorld == 'old'">
  		<li>
  			<a href="#">
          <img src="#" alt>
          Old World Monkeys
          <time datetime="1954">1954</time>
        </a>
  			<ul>
  				<li>
  					<a href="#">
              <img src="#" alt>
               Old World City
              <time datetime="1960">1960</time>
            </a>
  					<ul>
  						<li *ngFor="let oneMonkey of callitrichidae">
  							<a href="#">
                  <img src="#" alt>
                  {{oneMonkey.name}}
                  <time datetime="2016">2016</time>
                </a>
  					</ul>
  				<li><a href="#">
            <img src="#" alt>
            Cebidae
            <time datetime="1980">1980</time>
            </a>
            <ul>
  						<li *ngFor="let oneMonkey of cebidae">
                <a href="#">
                <img src="#" alt>
                {{oneMonkey.name}}
              <time datetime="1967">1967</time>
                </a>
  					</ul>
          <li><a href="#">
            <img src="#" alt>
             another old world city
            <time datetime="1961">1961</time>
            </a>
  					<ul>
  						<li *ngFor="let oneMonkey of aotidae" >
                <a href="#">
                <img src="#" alt>
                {{oneMonkey.name}}
              <time datetime="1967">1967</time>
                </a>
  					</ul>

  			</ul>


      </ul>
